h6,h5,h1,h4{
    color: rgb(116, 77, 170);
}

nav{
    background-color: rgb(255, 255, 255);
}

button{
    width: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(116, 77, 170);
    color: white;
}

input{
    
    border: 2px solid rgb(116, 77, 170);
    border-radius: 15px;
    outline: none;
    height: 40px;
}

img{
    height: 50px;
}

h1{
    font-family: 'Akronim', cursive;
}
h4{
    font-family: 'Poppins', sans-serif;
}