img{
    width: 500px;
    height: 700px;
}

button{
    color: white;
    background-color: rgb(54, 52, 52);
    width: 250px;
    border-radius: 20px;
}

p{
    font-family: 'Urbanist', sans-serif;

}

h1,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}