 <!-- Product section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5 p-4" style="background-color: rgb(247, 243, 243);">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{bookData.bookCover}}" alt="..." /></div>
            <div class="col-md-6 p-4 bg-light" style="border: 2px solid black;">
                
                <h1 class="display-5 fw-bolder text-dark">{{bookData.boookName}}</h1>
                
                <div class="fs-5 mb-2">
                    <h3 class="text-dark">Author: {{bookData.Author}}</h3>
                </div>

                <div><h4 class="text-dark">Rating: {{bookData.rating}} <i class="fa-solid fa-star text-warning"></i></h4></div>

                <div> <h5 class="text-dark">Genre: {{bookData.categoryId}}</h5></div>

               <div > <p class="lead">Description: {{bookData.description}}</p></div>
                <div class="d-flex mb-2">
                    
                    <a href="{{bookData.amazon}}">
                        <button class="flex-shrink-0" type="button">
                            <h4><i class="fa-brands fa-amazon fa-bounce"></i> Buy on Amazon</h4>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>