h1{
    font-family: 'Satisfy', cursive;
}

p{
    font-family: 'Urbanist', sans-serif;
}

h5,h6{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-family: 'Noto Sans', sans-serif;
}

img{
    width: 400px;
    height: 600px;
}

#cat{
    width:130px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: rgb(116, 77, 170);
}

#cat:hover{
    transform: scale(1.1);
    transition: 200ms linear;
}