#category{
    height: 150px;
    width: 150px;
    border-radius: 500px;
}


#card{
        display: flex;
        justify-content: space-around;
      }

.c:hover {
    transform: scale(1.2);
    transition: 200ms linear;
  }

.b:hover{
    transform: scale(1.1);
    transition: 200ms linear;
}

h1{
    font-family: 'Satisfy', cursive;
}

p{
    font-family: 'Urbanist', sans-serif;
}

h5,h6{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-family: 'Noto Sans', sans-serif;
}